sensible.el
bookmarks
recentf
auto-save-list/
backups/
eln-cache/
transient/
.chatgpt-shell.el
elpa/
/.org-id-locations
/tramp
/tree-sitter/
/custom.el
*.gpg
*.sqlite
/url/
/.savehist
/session.1019ffeebbad8f589f176305187670019200000020100092
